run_name: d3_energy_model_AR_Diffusion_sigmoid_withembed
dtype: float32

# Model
model_type: energy
gen_model: 'DDPM'
model: TransfusionDDPM
network: ARtransformerModified

# Data
hdf5_file: /project/biocomplexity/fa7sa/calochallenge_datasets/dataset_3/dataset_3_train.hdf5
eval_hdf5_file: /project/biocomplexity/fa7sa/calorimeter_evaluation_data/dataset_3/dataset_3_electron_Geant4.h5
xml_filename: /project/biocomplexity/fa7sa/calo_dreamer/src/challenge_files/binning_dataset_3.xml
val_frac: 0.00001
eps: 1.0e-10
particle_type: electron
eval_dataset: "3"
num_timesteps: 1000
transforms: {
    #ScaleVoxels: {factor: 0.35},
    NormalizeByElayer: {
      ptype: /project/biocomplexity/fa7sa/calo_dreamer/src/challenge_files/binning_dataset_3.xml,
      xml_file: electron
    },
    ScaleTotalEnergy: {factor: 0.35},
    SelectDims: {start: -45, end: 0},
    ExclusiveLogitTransform: {delta: 1.0e-6, rescale: True},
    StandardizeFromFile: {model_dir: ''},
    LogEnergy: {},
    ScaleEnergy: {e_min: 6.907755, e_max: 13.815510},
    Reshape: {shape: [45, 1]}
}

# Training
lr: 1.e-3
max_lr: 2.e-3
batch_size: 4000
validate_every: 5
use_scheduler: True
lr_scheduler: one_cycle_lr
#weight_decay: 1.0e-6
betas: [0.9, 0.999]
beta_schedule: sigmoid
n_epochs: 500
cycle_epochs: 500
cycle_pct_start: 0.1
save_interval: 100_001
gen_model: DDPM
# Sampling
sample_periodically: False
sample_every: 10
sample_every_n_samples: 1001
solver_kwargs: {method: rk4, options: {step_size: 0.02}}

shape: [45] # number of calorimeter layers
dim_embedding: 64
n_head: 4
n_encoder_layers: 4
n_decoder_layers: 4
dim_feedforward: 512
n_con: 1
conditional: True
normalization: LayerNorm
LBL: DDPM
c_embed: True
x_embed: True