run_name: d3_autoencoder_with_Diffusion
dtype: float32
#dtype: float16

# Model
model_type: shape
energy_model: /project/biocomplexity/fa7sa/calo_dreamer/results/20250805_223457_d3_energy_model_AR_Diffusion_cosine_BEST/

# Data
hdf5_file: /project/biocomplexity/fa7sa/calochallenge_datasets/dataset_3/dataset_3_train.hdf5
eval_hdf5_file: /project/biocomplexity/fa7sa/calorimeter_evaluation_data/dataset_3/dataset_3_electron_Geant4.h5
xml_filename: /project/biocomplexity/fa7sa/calo_dreamer/src/challenge_files/binning_dataset_3.xml

val_frac: 0.00001
eps: 1.0e-10
particle_type: electron
eval_dataset: "3"
eval_cut: 15.15e-3
shape: [1, 45, 50, 18]
#model: AE
transforms: {
    ScaleVoxels: {factor: 0.35},
    NormalizeByElayer: {
        ptype: /project/biocomplexity/fa7sa/calo_dreamer/src/challenge_files/binning_dataset_3.xml,
        xml_file: electron
    },
    CutValues: {cut: 1.e-7},
    SelectiveUniformNoise: {
        noise_width: 0.0e-5,
        cut: True,
        exclusions: [-45, -44, -43, -42, -41, -40, -39, -38, -37,
                     -36, -35, -34, -33, -32, -31, -30, -29, -28,
                     -27, -26, -25, -24, -23, -22, -21, -20, -19,
                     -18, -17, -16, -15, -14, -13, -12, -11, -10,
                      -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1]
    },
ExclusiveLogitTransform: {delta: 1.0e-6, rescale: True},
    StandardizeFromFile: {},
    LogEnergy: {},
    ScaleEnergy: {e_min: 6.907755, e_max: 13.815510},
    AddFeaturesToCond: {split_index: 40500},
    Reshape: {shape: [1, 45, 50, 18]}
}

# Training
lr: 1.e-3
max_lr: 1.e-3
batch_size: 256
validate_every: 10
use_scheduler: True
lr_scheduler: CosineAnnealing
weight_decay: 1.e-5
betas: [0.9, 0.999]
beta_schedule: cosine
n_epochs: 1
cycle_epochs: 600
total_epochs: 0
cycle_pct_start: 0.1
save_interval: 100_001
save_periodically: True
save_every: 25
clip_gradients_to: 50
autoencoder: /project/biocomplexity/fa7sa/calo_dreamer/results/20250807_162616_d3_ae/
# Sampling
sample_periodically: False
sample_every: 700
sample_every_n_samples: 1001
batch_size_sample: 64
n_samples: 100
solver_kwargs: {method: rk4, options: {step_size: 0.02}}

# # Network
# network: AutoEncoder
# condition_dim: 46
# patch_shape: [3, 5, 2]
# hidden_dim: 240
# depth: 6
# num_heads: 6
# mlp_ratio: 3.0
# aug_transforms: False
# learn_pos_embed: True
# cos_attn: False

# patch_shape: [3, 2, 1]
# hidden_dim: 480
# depth: 8
# num_heads: 8
# mlp_ratio: 4.0
# Sampling
reconstruct: False
sample_periodically: False
sample_every: 10
batch_size_sample: 256
sample_every_n_samples: 1001

# Network
model: TBD_DIFF
network: ViT

condition_dim: 46
patch_shape: [3, 2, 2]
hidden_dim: 240
depth: 6
num_heads: 6
mlp_ratio: 3.0
aug_transforms: False
learn_pos_embed: True
cos_attn: False
# AutoEncoder
# ae_loss: 'bce'
# ae_level_channels: [64, 4]
# ae_level_kernels: [[3,4,3]]
# ae_level_strides: [[3,2,1]]
# ae_level_pads: [[0,0,0]]
# ae_break_dims: [2,4]
# ae_encode_c: True
# ae_encode_c_dim: 100
# ae_softmax_temp: 0.75

